__pycache__/app.cpython-312.pyc

EmbeddingExtractingPart.py
random_forest_model.joblib
projects_documents/scaler.joblib
projects_documents/__pycache__/EmbeddingExtractingPart.cpython-312.pyc
__pycache__/EmbeddingExtractingPart.cpython-312.pyc
